.info{
    background-color: aliceblue;
    height: 15rem;
    width: 15rem;
    border: 3px solid rgb(88, 86, 86);
    border-radius: 4%;
   }

.info-item{
    height: 15rem;
    width: 18rem;
    opacity: 80%;
   margin-top: 12%;
   text-align: left;
   padding-left: 1rem;
   padding-top: 1rem;
  }
  .info-text-weather{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
  .bcg{
    opacity: 80%;
    height: 5rem;
    width:5rem;
  }

  @media screen and (max-width: 900px) {
    .info-item{
     margin-top: 5%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .info-item{
     margin-top: 4%;
     text-align: left;
     padding: 0.5rem;
    }
    .info-text-weather{
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 1.2rem;
      height: 4rem;
    }

    .info{
     background-color: aliceblue;
     width: 90%;
     border: 3px solid black;
     border-radius: 3%;
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
    }
    
    .bcg{
      height: 4rem;
      width: 4rem;
    }
  }