.info-text-forex {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.9rem;
  .forexImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .bcg {
      opacity: 80%;
      height: 5rem;
      width: 5rem;
    }
  }
  .coin-icon {
    height: 1.1rem;
    background-color: none;
    margin-right: 0.25rem;
  }

  @media screen and (max-width: 700px) {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1rem;
    height: 5rem !important;
    .bcg {
      height: 4rem;
      width: 4rem;
    }
    .coin-icon {
      height: 0.8rem;
      width: 0.8rem;
    }
  }
}
