.footer {
  background-color: #c6dfea;
  padding: 0.2%;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: cursive;
  color: rgb(88, 86, 86);
  font-weight: 800;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: rgb(88, 86, 86);
  }
  .ftr-link {
    margin: 0;
    font-weight: 600;

    font-size: 70%;
  }
}
