.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(12px + 2vmin);
  color: white;
  padding-left: 2%;
}

.divided-display{
  background-color:rgb(94, 209, 209);
  display: flex;
  min-height: 88vh;
}

.cartoons-box{
  background-color: rgba(181, 185, 181, 0.924);
 flex-basis: 60%;
}
.cartoon-item{
  background-color: rgb(128, 129, 128);
  height: 10rem;
  width: 10rem;
}

.info-box{
  background-color:rgb(207, 201, 213);
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}
.info-item{
  width: 70%;
  height: 12rem;
}
.info-weather{
  background-color:rgb(193, 167, 218);
}
.info-forex{
  background-color:rgb(196, 172, 192);
}
