.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(12px + 2vmin);
  color: white;
  padding-left: 2%;
}

.divided-display{
  background-color:rgb(183, 216, 239);
  display: flex;
  min-height: 88vh;
}

.cartoons-box{
  background-color: rgba(181, 185, 181, 0.924);
 flex-basis: 60%;
}
.cartoon-item{
  background-color: rgb(128, 129, 128);
  height: 10rem;
  width: 10rem;
}

.info-box{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
}
.info-item{
  width: 70%;
  height: 12rem;
  width: 20rem;
  opacity: 50%;
  background-repeat: no-repeat;
}
.info-text-weather{
  text-align: left;
  font-size: 1.3rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 1rem;
  line-height: 2.5rem;
}
.info-text-forex{
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-top: 1rem;
  line-height: 1.9rem;
}
.info-weather{
 background-color: aliceblue;
 height: 15rem;
 width: 15rem;
 border: 3px solid black;
}

.bcg{
  opacity: 50%;
  height: 5erm;
  width:5rem;
}
.info-forex{
 background-color: aliceblue;
 opacity: 50%;
 height: 15rem;
 width: 15rem;
 border: 3px solid black;
}

.coin-icon{
  height: 1.1rem;
  background-color:none;
  margin-right: 0.25rem;
}
