.App {
    text-align: center;
  }
  
  /* .App-header {
    background-color: #c6dfea;
    min-height: 6vh;
    display: flex;
    font-size: 2.5rem;
    padding-left: 3%;
    font-family:cursive;
    font-weight: 900;
    letter-spacing: 5px;
    color:rgb(88, 86, 86);
    padding-top: 2%;
    padding-bottom: 2%;
  }
   */
  .divided-display{
    display: flex;
    min-height: 88vh;
  }
  
  .info-box{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
  }
  
  /* .ftr{
    background-color:	#c6dfea;
    padding: 0.2%;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: cursive;  
    color:rgb(88, 86, 86);
    font-weight: 800;
  }
  footer a{
    text-decoration: none;
    font-size: 70%;
    color:rgb(88, 86, 86);
   
  }
  p{
    margin: 0;
    font-weight: 600;
  }
   */
  @media screen and (max-width: 900px) {
    .divided-display{
      display: flex;
      flex-direction: column-reverse;
    }
    .info-box{
      flex-direction: row;
      align-items:center;
      justify-content: space-around;
    }
  }
  
  @media screen and (max-width: 700px) {
    .info-box{
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      align-items:center;
      
    }
    .info{
     background-color: aliceblue;
     width: 90%;
     border: 3px solid black;
     border-radius: 3%;
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
    }
    .ftr{
      display:block;
    }
  }